<!DOCTYPE html>
<html>
	<head>
	  <title>3 columns layout</title>
	  <style type="text/css">
	    * {
	      box-sizing: border-box;
	    }

	    body {
	      margin: 0;
	      padding: 0;
	    }

	   .left{
		  width: 200px;height: 300px; background: yellow; float: left;    
		}
		.right{
		  width: 150px; height: 300px; background: green; float: right;
		}
		.middle{
		  height: 300px; background: red; margin-left: 220px; margin-right: 160px;
		}
	  </style>
	</head>
	<body>
		<div class="left">LEFT</div>
		<div class="right">RIGHT</div>
		<div class="middle">MIDDLE</div>
	</body>	
</html>

