<!DOCTYPE html>
<html>
	<head>
	  <title>3 columns layout</title>
	  <style type="text/css">
	    * {
	      box-sizing: border-box;
	    }

	    body {
	      margin: 0;
	      padding: 0;
	    }

		.left{
		    background: yellow;
		    width: 200px;
		    height: 300px;
		    position: absolute;
		    top: 0;
		    left: 0;
		}
		.middle{
		    height: 300px;
		    margin: 0 220px;
		    background: red;
		}
		.right{
		    height: 300px;
		    width: 200px;
		    position: absolute;
		    top: 0;
		    right: 0;
		    background: green;
		}
	  </style>
	</head>
	<body>
		<div class="left">LEFT</div>
		<div class="middle">MIDDLE</div>
		<div class="right">RIGHT</div>
	</body>	
</html>

